# Azure Storage Connection
AZURE_STORAGE_CONNECTION_STRING=<your_connection_string>
AZURE_BLOB_CONTAINER_NAME=<your_container_name>

# PostgreSQL Connection
PSQL_SERVER=<your_server>
PSQL_USER=<your_username>
PSQL_PASSWORD=<your_password>
PSQL_DATABASE=<your_database_name>
PSQL_PORT=<your_port>
